div.flashes p.alert {
	color: #f00;
	font-weight: bold;
	text-align: center;
	background-color: #fffacd;
}

div.flashes p.notice {
	color: #006400;
	font-weight: bold;
	text-align: center;
	background-color: #fffacd;
}

.smaller {
  font-size: 80%;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}