<% first_name_string = "#{home_pairing_session.owner.full_name} wants to pair on" if home_pairing_session.owner.full_name.present? %>

<li>
  <%= first_name_string%> <%= home_pairing_session.description %> <br/>
  <strong><%= home_pairing_session.start_at %></strong> to <strong><%= home_pairing_session.end_at %></strong>
</li>