<h1>Welcome To Promiscuous Pair Programming!</h1>
<div>
  This application is an open-source Rails 3 project intended to promote pair programming.
  Please visit our <a href="http://github.com/prakashmurthy/promiscuous_pair_programming#readme">homepage</a> for more information.
</div>

<h2>Available Pairing Sessions</h2>
<% if @pairing_sessions.any? %>
<ul class="pairing-sessions">
  <%= render :partial => "shared/home_pairing_session", :collection => @pairing_sessions %>
</ul>
<% end %>

<% if current_user %>
<br/>
<div>You are signed in to Promiscuous Pair Programming!</div>
<% end %>
